---
title: Page title
layout: _regular_page.njk
metadata:
  title: Page title for the HEAD and OG
  description: The page description adslkfjasdlkf
  og_image:
noindex: 
sitemap:
---

<script type="text/javascript" id="aoform-script-eeb328df-4471-49df-bef9-55c82ef28eea:d-0001">!function(o,t,e,a){o._aoForms=o._aoForms||[],o._aoForms.push(a);var n=function(){var o=t.createElement(e);o.src=("https:"==t.location.protocol?"https://":"http://")+"marketing.under2.global/acton/content/form_embed.js",o.async=!0;for(var a=t.getElementsByTagName(e)[0],n=a.parentNode,c=document.getElementsByTagName("script"),r=!1,s=0;s<c.length;s++){if(c[s].getAttribute("src")==o.getAttribute("src"))r=!0;}r?typeof(_aoFormLoader)!="undefined"?_aoFormLoader.load({id:"eeb328df-4471-49df-bef9-55c82ef28eea:d-0001",accountId:"44267",domain:"marketing.under2.global",isTemp:false,noStyle:false,prefill:false}):"":n.insertBefore(o,a)};window.attachEvent?window.attachEvent("onload",n):window.addEventListener("load",n,!1),n()}(window,document,"script",{id:"eeb328df-4471-49df-bef9-55c82ef28eea",accountId:"44267",domain:"marketing.under2.global",isTemp:false,noStyle:false,prefill:false});</script>


<section class="mx-auto mt-12 max-w-screen-3xl px-u2-pad">
  <p  class="text-5xl font-thin">This starter uses a variable font</p>
  <p  class="text-4xl font-bold">This allows</p>
  <p  class="text-lg font-medium">Multiple weights</p>
  <p  class="text-sm font-regular">In a single file</p>
  <p  class="text-sm font-black">And helps optimise the download</p>
</section>
  <section class="mx-auto mt-12 max-w-screen-3xl px-u2-pad">
    {% import "_components/_general.njk" as components with context %}
    {{ components.fancyBlock()}}
  </section> 